<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'aindex.html' %}
{% block body %}
<body>
<!--<p><a href="verifytrafficpolice">Verify Traffic Police</a>-->
<!--</p>-->
<!--<p><a href="viewcommentsandrate">View comments and rating of work</a></p>-->
<!--<p><a href="viewcomplaintsandreplay">View complaints and replay</a></p>-->
<!--<p><a href="viewuser">View user</a></p>-->
<!--<p><a href="sendnnotification">Send Notification</a></p>-->
<!--<p><a href="viewdetailsviolationreport">View Traffic violation report</a></p>-->
<!--<p><a href="sendreport">Send report</a></p>-->
<!--<p><a href="Logout">Logout</a></p>-->
</body>
{% endblock %}
