<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'aindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" >
  <table width="245" border="1" class="table table-hover">
    <tbody>
      <tr>
        <td width="37" scope="row">User Details</td>
        <td width="27">Photo</td>
        <td width="46">Complaint</td>
        <td width="53">Date</td>
        <td width="1">&nbsp;</td>
       
       
      </tr>
      {% for i in val %}
      <tr>
        <th scope="row">{{i[6]}} {{i[7]}} {{i[8]}}</th>
        <td><img src="static/uploads/{{i[3]}}" width="100px" height="100px"/> </td>
        <td>{{i[2]}}</td>
        <td>{{i[4]}}</td>
        <td><a href="/replay?id={{i[0]}}">Replay</a></td>
        
        
      </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
</body>
{% endblock %}
